/[Ll]ibrary/
/[Tt]emp/
/[Obj]bj/
/[Bb]uild/
/[Builds]/
/[Logs]/
/[MemoryCaptures]/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svntmp
*.meta
*.sh

.DS_Store
Thumbs.db